<div class="login">
  <div class="form-login">
    <div class="form-name">Welcom!</div>
    <form action="" method="post">
      <div>Email</div>
      <input type="text" name="login" [(ngModel)]="email">
      <div>Пароль</div>
      <input type="password" name="password" [(ngModel)]="password">
      <button class="buttonMin" type="submit" (click)="loginIn()">Войти</button>
    </form>
    <a class="registr" routerLink="/registration/">
      Регистрация
    </a>
  </div>
</div>
