<div class="my-page" *ngIf="user">
  <div class="left">
    <div class="avatar-block" (mouseenter)="showSettings()" (mouseleave)="closeSettings()">
      <div class="avatar"></div>
      <div class="remove" *ngIf="myPage"></div>
      <div class="avatar-actions" *ngIf="myPage" (click)="fileInput.click()">Обновить фотографию</div>
      <img src="http://localhost:60415/Images/User_1_Avatar_27.jpg"/>
      <input class="upload" type="file" (change)="onUpload($event)" #fileInput/>
    </div>
    <app-actions-root [user]="user"></app-actions-root>
  </div>
  <div class="right">
    <div class="name">{{user.fullName}}</div>
    <div class="information">
      <div class="description">
        Дата рождения: <br>
        Город: <br>
        Прописка: <br>
      </div>
      <div class="value">
        {{user.dateOfBirth | date:'dd LLLL yyyy'}} <br>
        {{user.city}} <br>
        vk.com/2222121 <br>
      </div>
    </div>
  </div>
</div>
