<div class="my-page" *ngIf="user">
    <div class="left">
        <app-avatar-root [user]="user"></app-avatar-root>
        <app-actions-root [user]="user"></app-actions-root>
    </div>
    <div class="right">
        <div class="name">{{user.fullName}}</div>
        <div class="information">
            <div class="description">
                <div class="item">Дата рождения:</div>
                <div class="item">Город:</div>
                <div class="item">Прописка:</div>
            </div>
            <div class="value">
                <div class="item">{{user.dateOfBirth | date:'dd LLLL yyyy'}}</div>
                <div class="item">{{user.city}}</div>
                <div class="item">vk.com/2222121</div>
            </div>
        </div>
    </div>
</div>
