<div *ngIf="this.avatarModal" class="modal">
    <div class="background" (click)="onAvatarModalClose($event)"></div>
    <div class="avatar-modal" (mouseenter)="onButtonsShow()" (mouseleave)="onButtonsHide()">
        <div class="image">
            <div class="image-container">
                <div class="image-box">
                    <img class="image-img" *ngIf="this.imageList[0]" src="{{this.imageList[number].fullPath}}"/>
                </div>

                <div class="left" *ngIf="this.leftButtonShow && this.buttonShow" (click)="onPrevImg()"></div>
                <div class="right" *ngIf="this.rightButtonShow && this.buttonShow" (click)="onNextImg()"></div>
            </div>
        </div>
        <div class="text">
            Фотокарточка № {{this.number + 1}} из {{this.imageList.length}}
        </div>
    </div>
</div>
