<div class="croppie" *ngIf="isVisible">
    <div class="background-croppie" (click)="cancelCroppieEdit()"></div>
    <div class="croppie-modal">
        <div class="croppie-container">
        <div class="image">
            <ngx-croppie *ngIf="croppieImage" #ngxCroppie [croppieOptions]="croppieOptions"
                         [imageUrl]="croppieImage" (result)="newImageResultFromCroppie($event)">
            </ngx-croppie>
        </div>

        <div class="buttons">
            <button type="button" class="button" (click)="saveImageFromCroppie()">Изменить</button>
        </div>
        </div>
    </div>
</div>
