<div class="croppie" *ngIf="isVisible">
    <div class="background-croppie" (click)="cancelCroppieEdit()"></div>
    <div class="croppie-modal">
        <div class="croppie-container" *ngIf="isAvatarCroppie">
            <div class="image">
                <ngx-croppie #ngxCroppie
                             *ngIf="croppieImage"
                             [croppieOptions]="croppieOptions"
                             [imageUrl]="croppieImage"
                             (result)="newImageResultFromCroppie($event)">
                </ngx-croppie>
            </div>

            <div class="buttons">
                <button type="button" class="button" (click)="saveImageFromCroppie()">Выбрать</button>
            </div>
        </div>

        <div class="croppie-container-circle" *ngIf="isAvatarCroppie === false">
            <div class="image-circle">
                <ngx-croppie #ngxCroppie
                             *ngIf="croppieImage"
                             [croppieOptions]="croppieOptions"
                             [imageUrl]="croppieImage"
                             (result)="newImageResultFromCroppie($event)">
                </ngx-croppie>
            </div>

            <div class="buttons">
                <button type="button" class="button" (click)="sendImages()">Сохранить</button>
            </div>
        </div>
    </div>
</div>
