<!DOCTYPE html>
<html lang="en">
@*<head>
    <meta charset="UTF-8">
    <base href="@Url.Content("~")">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="~/Spa_Dist/styles.141aca72b3a48c6a8427.bundle.css" rel="stylesheet" />
</head>
<body>
    <app-root></app-root>
    <script src="~/Spa_Dist/inline.318b50c57b4eba3d437b.bundle.js"></script>
    <script src="~/Spa_Dist/polyfills.ae7e37f4f7f14adcb4f7.bundle.js"></script>
    <script src="~/Spa_Dist/main.901266e62614ae6ae4dd.bundle.js"></script>
</body>*@
</html>