<div class="my-page" *ngIf="user">
  <div class="left">
    <div class="photo"></div>
    <app-actions-root></app-actions-root>
  </div>
  <div class="right">
    <div class="name">{{user.fullName}}</div>
    <div class="information">
      <div class="description">
        Дата рождения: <br>
        Город: <br>
        Прописка: <br>
      </div>
      <div class="value">
        {{user.dateOfBirth | date:'dd LLLL yyyy'}} <br>
        {{user.city}} <br>
        vk.com/2222121 <br>
      </div>
    </div>
  </div>
</div>
