.registration {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .form-registration {
        font-family: "Georgia", Georgia, serif;
        width: 200px;
        height: 475px;
        background: whitesmoke;
        padding: 0 20px 30px 20px;
        text-align: -webkit-center;
        box-shadow: 0 2px 4px grey;
        font-size: 10pt;
        color: #759bff;

        .form-name {
            font-size: 20pt;
            margin: 18px 18px 14px 18px;
            font-weight: bold;
        }

        .buttonMin {
            margin: 5px 0 7px 0;
            width: 120px;
            height: 26px;
        }

        input {
            margin-top: 2px;
            border: 1px solid #f2f2f2; //цвет рамки
            border-bottom: 1px solid #64f210; //цвет рамки
            border-radius: 3px; //закругление углов (общее)
            outline: none; // удаляет обводку в браузерах хром(желтая) и сафари(синяя)
            font-size: 15px; // Размер шрифта
            height: 20px;
            font-family: "Georgia", Georgia, serif;
            margin-bottom: 15px;
            box-shadow: 0 2px 2px grey;
        }

        .rad {
            margin-bottom: -9px;

            .radio-men {
                border: 0;
                box-shadow: none;
                margin-right: 30px;
            }

            .radio-women {
                border: 0;
                box-shadow: none;
                margin-left: 30px
            }
        }
    }

    label {
        padding-bottom: 2px;
    }

    .log {
        text-decoration: none;
        color: #759bff;
    }

    .log:hover {
        color: #617fd2;
    }
}
