<div class="registration">
    <div class="form-registration">
        <div class="form-name">Registration</div>
            <div>Имя</div>
             <input type="text" name="name" [(ngModel)]="this.user.firstName" maxlength="14">
            <div>Фамилия</div>
            <input type="text" name="surname" [(ngModel)]="this.user.lastName" maxlength="14">
            <div>Дата рождения</div>
            <input type="date" name="date" [(ngModel)]="this.user.dateOfBirth">
            <div>Ваш регион</div>
            <input list="city" name="city" [(ngModel)]="this.user.city" maxlength="14">
            <datalist id="city">
                <option value="Минск">
                <option value="Витебск">
                <option value="Гомель">
                <option value="Гродно">
                <option value="Брест">
                <option value="Могилев">
            </datalist>
            <div>
                <label>Мужской</label>
                &nbsp;&nbsp;&nbsp;
                <label>Женский</label>
            </div>
            <div class="rad">
                <input class="radio-men" type="radio" name="sex" value="men">
                <input class="radio-women" type="radio" name="sex" value="women">
            </div>
            <div>Email</div>
            <input type="email" name="login" [(ngModel)]="this.user.email" maxlength="20">
            <div>Пароль</div>
            <input type="password" name="password" [(ngModel)]="this.user.password" maxlength="20">
            <div>Повторите пароль</div>
            <input id="password-confirm" type="password" name="password" maxlength="20" [(ngModel)]="this.password2">
            <button class="buttonMin" type="submit" (click)="onRegistration()">Регистрация</button>
        <div>
            <a class="log" routerLink="/login/">Логин</a>
        </div>
    </div>
</div>
