<div class="registration">
  <div class="form-registration">
    Регистрация
    <form action="" method="post">
      <label>Имя</label><br>
      <input type="text" name="name">
      <br><br>
      <label>Фамилия</label><br>
      <input type="text" name="surname">
      <br><br>
      <label>Дата рождения</label><br>
      <input type="text" name="day" size="1">
      <input type="text" name="month" size="1">
      <input type="text" name="year" size="4" maxlength="4">
      <br><br>
      <label>Мужской</label><label>Женский</label><br>
      <input type="radio" name="pol"> <input type="radio" name="pol">
      <br>
      <label>Email</label><br>
      <input type="email" name="login">
      <br><br>
      <label>Пароль</label><br>
      <input type="password" name="password"><br><br>
      <label>Повторите пароль</label><br>
      <input type="password" name="password"><br><br>
      <button type="submit">Регистрация</button>
    </form>
    <a routerLink="/login/">
      Логин
    </a>
  </div>
</div>
