body {
  margin: 0;
}

::-webkit-scrollbar, ::-webkit-scrollbar {
  width: 6px;
  background: transparent;
}

::-webkit-scrollbar-button:vertical:end:decrement, ::-webkit-scrollbar-button:vertical:end:decrement,::-webkit-scrollbar-button:vertical:start:increment, ::-webkit-scrollbar-button:vertical:start:increment {
  display: none
}

::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:vertical {
  -webkit-box-shadow: inset 3px 0 #fff;
  box-shadow: inset 3px 0 #fff;
  background: #89b57d
}

::-webkit-scrollbar-thumb:vertical:hover, ::-webkit-scrollbar-thumb:vertical:hover {
  -webkit-box-shadow: none;
  box-shadow: none
}

.button {
    width: 200px;
    height: 35px;
    margin-top: 10px;
    background: #759bff;
    border-radius: 5px;
    cursor: pointer;
    text-align: -webkit-center;
    padding-top: 2px;
    box-shadow: 0 5px 8px grey;
    color: whitesmoke;
}

.button:hover {
    background: rgba(123, 149, 255, 0.85);
}

