<div class="background" *ngIf="isShow" (click)="onBlur()"></div>

<div class="search">
  <input (input)="onInput()" (focus)="onFocus()" [(ngModel)]="search">

  <div class="search-modal" *ngIf="isShow">
    <a  (click)="onNavigateTo(search); onClear()">
      <div class="all-search">Показать все результаты</div>
    </a>
    <div class="in-modal" *ngFor="let user of users; let i = index">
      <a [href]="'/id/' + user.id" *ngIf="i < 6" (click)="onClear();">
        <div class="friend">
          <div class="photo">
              <img class="icon" *ngIf="user.avatars[0]" src="{{user.avatars[0].iconPath}}"/>
          </div>
          <div class="name">{{user.firstName}} {{user.lastName}}</div>
        </div>
      </a>
    </div>
  </div>
</div>
